@model BackEnd.Models.Register_1ViewModel;
<body id="body" class="h-screen w-full flex justify-center">
    <section class="h-full w-5/12 flex justify-center items-center">
        <div id="login" class="flex flex-col items-center h-4/5 w-full text-xl font-bold text-white rounded-3xl text-center bg-white/50">
            <h1 class="mt-8 mb-12 text-4xl font-bold">Registrate</h1>
            <form asp-action = "Register_1" asp-controller="Register" class="w-4/6 mt-6 flex justify-center items-center flex-col" method="post">
                
                <p class="mb-2">Nombre</p>
                <!--Input de Nombre-->
                <div class="w-4/5 relative">
                    <label for="Nombre"></label>
                    <input asp-for="Nombre" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" name="Nombre" type="text" required >
                    <svg class="absolute pr-2" id="usuario" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.71 170.52">
                        <circle class="cls-1" cx="62.86" cy="40.81" r="37.31"/>
                        <path class="cls-1" d="M62.86,166.97s49.73,2.37,59.26-26.52c2.93-63.17-59.26-62.32-59.26-62.32,0,0-62.18-.84-59.26,62.32,9.52,28.89,59.26,26.52,59.26,26.52Z"/>
                    </svg>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <!--Input de Apellido-->
                <p class="mt-2 mb-2">Apellido</p>
                <div class="w-4/5 relative">
                    <label for="Apellido"></label>
                    <input asp-for="Apellido" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" name="Apellido" type="text" required >
                    <svg class="absolute pr-2" id="punto" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.39 68.06">
                        <circle class="cls-1" cx="34.03" cy="34.03" r="34.03"/>
                        <circle class="cls-1" cx="121.19" cy="34.03" r="34.03"/>
                        <circle class="cls-1" cx="208.36" cy="34.03" r="34.03"/>
                    </svg>
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <!--Input de Username-->
                <p class="mt-2 mb-2">Username</p> 
                <div class="w-4/5 relative">
                    <label for="NombreUsuario"></label>
                    <input asp-for="NombreUsuario" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" name="NombreUsuario" type="text" required >
                    <svg class="absolute pr-2" id="punto" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 242.39 68.06">
                        <circle class="cls-1" cx="34.03" cy="34.03" r="34.03"/>
                        <circle class="cls-1" cx="121.19" cy="34.03" r="34.03"/>
                        <circle class="cls-1" cx="208.36" cy="34.03" r="34.03"/>
                    </svg>
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                    @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
                </div>
                <div class="w-5/6 mt-2 flex justify-between">
                    <p class="ml-4 text-sm">recordar</p>
                    <p class="mr-4 text-sm">¿olvidaste tu contraeña?</p>
                </div>
                <button class="mt-8 py-2 px-4 rounded-full mb-4 text-white bg-azul h-10 w-44 flex items-center justify-center">continuar</button>
            </form>
            <a asp-action="Login" asp-controller="Register" class="justify-center items-center flex w-44 text-azul bg-white px-4 py-2 rounded-full">Inicia Sesion</a>
        </div>
    </section>    
</body>