@{
    ViewData["Title"] = "Ver Video";
}

<h2>Ver Video</h2>

<iframe src="https://www.youtube.com/embed/1wddvXONmtE?autoplay=1&mute=1"  width="600" height="400px"
              frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>>
    Tu navegador no soporta la etiqueta de video.
</iframe>
