/*svg de Usuario*/
#usuario{
    height: 20px;
    width: 25px;
    top: 15px;
    left: 10px;
}

#usuario .cls-1{
    fill: #D7D9DE;
    height: auto;
    width: auto;
}

/*svg de Candado*/
#candado{
    height: 20px;
    width: 25px;
    top: 15px;
    left: 10px;
}

#candado .cls-1{
    fill: #D7D9DE;
}

#candado .cls-2{
    fill: white;
}

/*svg de Punto*/

#punto{
    height: 20px;
    width: 30px;
    top: 15px;
    left: 10px;
}

#punto .cls-1
{
    fill: #D7D9DE;
}

/*svg de correo*/

#correo{
    height: 20px;
    width: 25px;
    top: 15px;
    left: 10px;
}

#correo .cls-1{
    fill: #D7D9DE;
}