<form action="/Test/InsertRol" method="post">
    <div class="w-4/5 relative">
        <label for="Descripcion"></label>
        <input class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" name="username" type="text" required >
        <svg class="absolute pr-2" id="usuario" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.71 170.52">
            <circle class="cls-1" cx="62.86" cy="40.81" r="37.31"/>
            <path class="cls-1" d="M62.86,166.97s49.73,2.37,59.26-26.52c2.93-63.17-59.26-62.32-59.26-62.32,0,0-62.18-.84-59.26,62.32,9.52,28.89,59.26,26.52,59.26,26.52Z"/>
        </svg>
    </div>
        <div class="w-4/5 relative">
        <label for="Id"></label>
        <input class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" name="username" type="text" required >
        <svg class="absolute pr-2" id="usuario" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.71 170.52">
            <circle class="cls-1" cx="62.86" cy="40.81" r="37.31"/>
            <path class="cls-1" d="M62.86,166.97s49.73,2.37,59.26-26.52c2.93-63.17-59.26-62.32-59.26-62.32,0,0-62.18-.84-59.26,62.32,9.52,28.89,59.26,26.52,59.26,26.52Z"/>
        </svg>
    </div>
</form>